<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="sylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<title>Insert title here</title>

</head>

<body>
	<h1>You are not allowed to access this page. Please go to Welcome Page</h1>
	<h2><a th:href="@{/welcome}">Welcome</a>
	<a th:href="@{/index}">Logout</a></h2>
</body>

</html>